@font-face {
    font-family: clematis;
    src: url(./clematis-regular.ttf);
}

body {
    background-color: darkslategray;
}

.highlighttable {
    width: 100%;
    font-size: 24px;
    table-layout: fixed;
}

td.linenos {
    width: 35px;
}

td.code {
    width: auto;
}

.highlight {
    overflow-x: scroll;
}

.msg {
    padding-top: 10px;
    padding-bottom: 10px;
    color: gray;
    background-color: white;
    border-radius: 7px;
    text-align: center;
    width: 100%;
    font-family: clematis;
}
